{% extends 'base.html.twig' %}

{% block title %}Vitrine
{% endblock %}

{% block main %}
	<h1>Vitrine</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Createur</th>
				<td>{{ vitrine.createur }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ vitrine.description }}</td>
			</tr>
			<tr>
				<th>Livres</th>
				<td>
					<ul>
						{% for livre in vitrine.livres %}
							<li>
								<a href={{ path('app_vitrine_show_livre', {'id': vitrine.id, 'id_livre': livre.id} )}}>{{livre}}</a>
							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	{{ include('vitrine/_back_form.html.twig') }}
	<br>
	{% if app.user %}
		{% if app.user == vitrine.createur.user or app.user.roles[0] == "ROLE_ADMIN" %}
			<a href={{ path('app_vitrine_edit', {'id': vitrine.id} ) }} class='btn btn-primary'>edit</a>

			{{ include('vitrine/_delete_form.html.twig') }}
		{% endif %}
	{% endif %}
{% endblock %}
